/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
aside#social {
    background: lightblue;
    width: 200px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
    border: 1px solid #73AD21;
    
}
ul.social-links {
    display: none;
    float: r;
    
}


aside#social:hover ul.social-links {
    display: block;
    
}

.column {
    float: left;
    width: 33.33%;
    
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
    

 html {
     margin: 0;
     padding: 0;
     background-color: grey;
 }
 header{
     background: url(../img/monkaa_bluemonkey.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 100px 20px 20px 20px;
     border: 2px solid #73AD21;
     
 }
 h1{
     background: rgba(255,255,255,0.4);
     padding: 5px;
     font-family: "Impact", Fantasy, serif;
     font-size: 36px;
 }
 
 h2{
     background: rgba(255,255,255,0.4);
     padding: 5px;
     background-color: lightblue;
     font-family: "Impact";
     font-size: 36px;
 }
 
 p.lead {
     font-family: 'Actor';font-size: 22px;
 }
 
 footer {
     background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
 }
 
 section {
     padding-top: 50px;
     padding-bottom: 25px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px solid #73AD21;
     
 }
 
 section#watch {
     background-color: #F1F1F1;
    padding: 10px;
 }

 section#about {
     background-color: #F1F1F1;
    padding: 10px;
          
 }
 
 section#listen {
     background-color: #F1F1F1;
    padding: 10px;
 }
